[Unit]
Description=Safir Notification Service
After=syslog.target
After=network.target

[Service]
Type=simple
User=root
Group=root

ExecStart=/usr/local/bin/safirnotification -c /etc/safirnotification/safirnotification.conf

# Give a reasonable amount of time for the server to start up/shut down
TimeoutSec=120
Restart=on-failure
RestartSec=2

CPUAccounting=true
BlockIOAccounting=true
MemoryAccounting=false
TasksAccounting=true

[Install]
WantedBy=multi-user.target
